body {
  margin: auto;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.4px;
}

p {
  font-size: 20px;
  letter-spacing: 0.1px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

/*.site-header {
  left: 0;
  padding: 0px 0 0;
  width: 100%;
  position: fixed;
}*/

.landing-bg-wrap div {
    position: absolute;
}

.ld-leaf-1 {
  rotate: 0deg;
  -webkit-transform: rotate(0deg);
  bottom: 30%;
  left: 50%;
}

.ld-leaf-2 {
  rotate: 0deg;
  -webkit-transform: rotate(0deg);
  top: 0px;
  right: -5%;
}

.ld-leaf-3 {
  rotate: -10deg;
  -webkit-transform: rotate(-10deg);
  top: -100px;
  left: 0px;
}

.ld-leaf-4 {
  rotate: 0deg;
  -webkit-transform: rotate(0deg);
  bottom: 0px;
  left: -10%;
}

.ld-leaf-5 {
  rotate: 0deg;
  -webkit-transform: rotate(0deg);
  top: 40%;
  left: 0px;
}

.ld-leaf-6 {
  rotate: 0deg;
  -webkit-transform: rotate(0deg);
  bottom: 200px;
  right: 10%;
}

.ld-leaf-8 {
  top: 50%;
    left: 40%;
}

.top-title {
  margin-bottom: 5vh;
}

.second-title {
  color: #5a6268;
  letter-spacing: 0.2px;
}

.projects {
  text-align: center;
}


@media screen and (min-width: 1280px) {
.title {
  max-width: 30%;
  top: 15vh;
  left: 35vw;
  text-align: center;
}

.projects {
  max-width: 80%;
  z-index: 1;
  margin: 350px auto;
}

.thu-tour {
  margin-top: 40px;
  width: 50%;
}

.thu-tour img {
  width: 500px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .3);
}

.ld-leaf-7 {
  rotate: -30deg;
  -webkit-transform: rotate(-30deg);
  top: 20%;
  left: 30%;
}
}

@media screen and (max-width: 900px) {

.title {
  max-width: 70%;
  top: 10vh;
  left: 15vw;
  text-align: center;
}

.ld-leaf-8, .ld-leaf-6, .ld-leaf-5, .ld-leaf-4, .ld-leaf-2 {
  display: none;
}

.projects {
  max-width: 80%;
  margin: 350px auto;
}

.thu-tour {
  margin: auto;
  width: 90%;
  text-align: center;
}

.thu-tour img {
  width: 500px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .3);
}

.ld-leaf-7 {
  rotate: -30deg;
  -webkit-transform: rotate(-30deg);
  top: 12%;
  left: 30%;
}

}

@media screen and (max-width: 450px) {

.title {
  max-width: 80%;
  top: 10vh;
  left: 10vw;
  text-align: center;
}

.ld-leaf-8, .ld-leaf-6, .ld-leaf-5, .ld-leaf-4, .ld-leaf-2 {
  display: none;
}

.ld-leaf-1 {
  rotate: 0deg;
  -webkit-transform: rotate(0deg);
  bottom: 45%;
  left: 30%;
}

.ld-leaf-7 {
  rotate: -30deg;
  -webkit-transform: rotate(-30deg);
  top: 12%;
  left: 10%;
}

.projects {
  max-width: 80%;
  margin: 400px auto;
}

.thu-tour {
  margin: auto;
  width: 90%;
  text-align: center;
}

.thu-tour img {
  width: 300px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .3);
}

}



